@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap");
* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #f0f8ff;
  color: black;
  font-family: "Noto Serif", serif;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.col1,
.col2 {
  width: 50%;
  /* height: 100vh; */
}
/* .col1 {
  background-color: #f0f8ff;
  color: black;
} */
.col2 {
  background-color: #c0c0c0;
  /* height: 150em; */
  position: fixed;
  right: 0;
}

.profile {
  position: relative;
  /* top: 20%; */
  margin: 20% auto;
  left: 25%;
  border-radius: 10px;
  size: 50em;
}
.listelement {
  display: inline-block;
  /* float: right; */
  font-size: 20px;
  padding: 2rem;
}
a {
  text-decoration: none;
  /* color: rgb(86, 82, 82); */
  color: black;
}
.heading {
  display: inline-block;
  width: 20em;
  /* border: 2px solid red; */
  position: relative;
  margin: 15% 27%;
}
.details {
  margin: auto 12rem;
  line-height: 2rem;
}
.social {
  display: inline-block;
  padding: 0 2px;
}

#about {
  position: relative;
  top: 15rem;
  margin: auto 12rem;
  line-height: 2rem;
}
#skills {
  position: relative;
  top: 45rem;
  margin: auto 12rem;
  line-height: 2rem;
}
#projects {
  position: relative;
  top: 60rem;
  margin: auto 12rem;
  line-height: 2rem;
}
#education {
  position: relative;
  top: 30rem;
  margin: auto 12rem;
  line-height: 2rem;
}
.footer {
  border-top: 1px solid gray;
  position: relative;
  padding: 10px;
  font-size: 15px;
  top: 70em;
  text-align: center;
}
.social > a {
  text-decoration: underline;
}
